/*  your css code here. If applicable */
body {
	background-color: #f5f5f5;
	margin: 0;
	font-family: Arial, sans-serif;
}

.header {
	background-color: #011e29;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	color: white;
}

.articles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
	flex-wrap: wrap;
	align-items:flex-start;
}

.latest-news-section,
.main-article,
.pictorial-news-section {
	width: 30%;
	max-width: 400px;
	background-color: white;
	border-radius: 0.5rem;
	padding: 1rem;
	box-sizing: border-box;
}

.latest-news-section {
}

.latest-news-section ul {
	padding-left: 1.2rem;
}

.latest-news-section li {
	margin-bottom: 0.5rem;
}

.main-article p {
	text-align: center;
	margin-top: 0.5rem;
}

.pictorial-news-section {
	text-align: center;
}

.pictorial-news-section img {
	width: 150px;
	padding: 10px;
	border-radius: 0.3rem;
}
